body{
  font-family: "Plus Jakarta Sans", sans-serif !important;
  min-height: 100vh;
  display: flex;
  flex-direction:column;
}

/* ensure footer not float*/
.container{
    flex: 1;
}

/* navbar */
.navbar{
    background-color: white;
    height: 5rem;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
      color: #222222 !important;
}

/* footer */

.footer{
    height: 8rem;
    background-color: lightgray;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.foot-info-social{
    width: 100%;
}

.foot-info-social i {
    font-size: 2rem;
    margin-left: 0.5rem;
}

.foot-info-links{
    width: 100%;      
}

.foot-info-links a{
    text-decoration: none;
}
.foot-info-links a:hover{
    text-decoration: underline;
}

/*  Card */

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width:100%;
    object-fit: cover !important;
}
.card-body{
    padding: 0rem !important;
}

.card-text{
    font-weight: 400 !important;
}

/* card effect */

.listing-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* new form button */
.new-btn{
    background-color: #fe424d !important;
    border:none !important;
}

/*show page */
.show-image{
        height: 30vh;
}

.show-card{
    padding: 0;
}


/* map style */
#map {
      height: 300px;
      width: 90vh;
    }